h2 {
    color: #333;
  }
 body{
    background-color: #F3E8D8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   }
 p {
    color: #666;
  }
 #container {
    display: flex;
    max-width: 800px;
    width: 100%;
  }
 #image {
    flex-shrink: 0;
    margin-right: 20px;
  }
 #details {
    flex-grow: 1;
  }
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }